@model IEnumerable<ASOC.Domain.STATUS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Статусы</h2>
@Html.ActionLink("Создать", "Create")
@using (Html.BeginForm())
{
    <div class="row" id="find">
        <div class="col-sm-3 input-group">
            <input type="text" name="filter" value="@ViewBag.filter" class="form-control" placeholder="Введите текст для поиска..." />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Найти</button>
            </span>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Статус
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
